{% extends "base.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block content %}
    {{ parent() }}

    {% for status in statuses %}
        <p class="error">{{ status }}</p>
    {% else %}
        <p class="message">Wodk Web App is fully configured. You are ready to get started.</p>
    {% endfor %}
{% endblock %}
